@model NoorSubmission.Models.MainFormDto
@{

    ViewBag.Title = "Writing Main Form Page";
}

<form class="submission-form" method="post" action=@Url.Action("AddForm", "MainForm")>
    <h4 class="mb-3 "> Submission Form </h4>
    <div class="form-group">
        <label for="Fname">First Name </label>
        <input type="text" name="Fname1" required>
    </div>
    <div class="form-group">
        <label for="Lname">Last Name</label>
        <input type="text" name="Lname1" required>
    </div>

    <div class="form-group">
        <label for="Age">Age</label>
        <input type="text" name="Age1" required>
    </div>
    <div class="form-group">
        <label for="Nationality">Nationality</label>
        @Html.DropDownList("Nationality1" , new SelectList(Enum.GetValues(typeof(NationalitiesList))),
        "Select Nationality")
    </div>

    <button type="submit">Submit</button>

    <a class="RedirectionLink1" href="@Url.Action("Index", "ReadMainForm")"> Read &raquo;</a>


</form>








